<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-stSiRecord-edit" th:object="${stSiRecord}">
            <input id="rsiId" name="rsiId" th:field="*{rsiId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">服务id：</label>
				<div class="col-sm-8">
					<input id="stId" name="stId" th:field="*{stId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">服务配料id：</label>
				<div class="col-sm-8">
					<input id="siId" name="siId" th:field="*{siId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "record/stSiRecord";
		$("#form-stSiRecord-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-stSiRecord-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
